{% set title = "StyleGuide | "~themeviz_theme_path|split("/")|last %}

<html>
<head>
	<title>{{ title }}</title>
	<style>{{ themeviz_css|raw }}</style>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
	<script src="../third-party/iframe-resizer/js/iframeResizer.min.js"></script>
</head>
<body class="styleguide">

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">{{ title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{#<li class="nav-item active">#}
				{#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
			{#</li>#}
		</ul>
		<form id="loadForm" class="hidden form-inline my-2 my-lg-0 mr-sm-2">
			<input class="form-control mr-sm-2" value="{{ themeviz_theme_path }}" type="text" placeholder="Theme Path">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Load</button>
		</form>
		<form id="filterForm" class="form-inline my-2 my-lg-0" method="get">
			<input class="form-control mr-sm-2" type="text" placeholder="Filter" name="filter">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
		</form>
	</div>
</nav>

<div class="components">
	{% for component in themeviz_components %}
		<div class="component panel panel-default">
			<div class="panel-heading">
				<h1><a href="?filter={{ component.name|e("url") }}">{{ component.name }}</a></h1>
			</div>

			<div class="panel-body">
				<div class="tab-content">
					{% for scenario in component.scenarios %}
						{{ scenario.name }}<br>
						<iframe src="head/html/{{ scenario.relativePath }}" frameborder="0"></iframe>
						<iframe src="production/html/{{ scenario.relativePath }}" frameborder="0"></iframe>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script>
    jQuery.ajax({
        url: "http://localhost:3333/status"
    }).done(function (data) {
        if (data === "OK") {
            jQuery("#loadForm").removeClass("hidden");
        }
    });

    jQuery("#loadForm button").click(function (e) {
        e.preventDefault();
        var path = jQuery("#loadForm input").val(),
            action = "http://localhost:3333/?theme=" + encodeURIComponent(path);
        jQuery.ajax({
            url: action
        }).done(function (data) {
            location.reload();
        });
    });

    var filterString = getQueryString("filter");
    if (filterString) {
        jQuery("#filterForm input").val(filterString);
        jQuery(".component").each(function(i, component) {
            var heading = jQuery(component).find("h1");
            if (heading.text().indexOf(filterString) === -1) {
                component.remove();
            }
        });
	}

    function getQueryString(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    jQuery(".component").resizable({
        resize: function (event, ui) {
            ui.element.addClass("resized");
        },
        start: function (event, ui) {
            $('<div class="ui-resizable-iframe-fix"></div>')
                .css({
                    width: "100vw", height: "100vh",
                    position: "absolute", zIndex: 1000
                })
                .css($(this).offset())
                .appendTo("body");
        },
        stop: function (event, ui) {
            $("div.ui-resizable-iframe-fix").remove();
        }
    });

    jQuery(".component .reset").click(function () {
        var component = $(this).closest(".component");
        component.removeAttr("style").removeClass("resized");
    });

    jQuery(".component-iframe").addClass("loading");

    jQuery("iframe").on("load", function () {
        jQuery(this).closest(".component-iframe").removeClass("loading");
    });

    jQuery(".nav-pills a").on("click", function () {
        var component = $(this).closest(".component");
        setTimeout(function () {
            // trigger iframe resize here
        }, 300);
    });

    iFrameResize();
</script>
</body>
</html>
