<html>
<head>
    <title>Component Diffs</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .component h1 {
            margin-top: 3rem;
        }
        .component img {
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    {% for component in themeviz_components %}
        <div class="component">
            <h1>{{ component.name }}</h1>

            <table>
                <thead>
                <tr>
                    <th>Expected</th>
                    <th>Actual</th>
                    <th>Diff</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="{{ component.expected }}" data-lightbox="{{ component.name }}">
                            <img src="{{ component.expected }}" alt="Expected">
                        </a>
                    </td>
                    <td>
                        <a href="{{ component.actual }}" data-lightbox="{{ component.name }}">
                            <img src="{{ component.actual }}" alt="Actual">
                        </a>
                    </td>
                    <td>
                        <a href="{{ component.diff }}" data-lightbox="{{ component.name }}">
                            <img src="{{ component.diff }}" alt="Diff">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</body>
</html>
